body{
    text-align: center;
background-color: aquamarine;
}
img{
    width: 300px;
    height: 300px;
}
ul{
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
li{
    float:left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 25px;

}
#welcome{
    margin-top: 100px;
}
#about{
    margin-top: 40px;
padding: 20px;
}
#playchess{
    margin-top:100px;
}